@import './menu.scss';
@import './variables.scss';
@import './router.scss';
@import './speeding.scss';

body, html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $color-bg;
    color: $color-dark;
};

.main_container {
    width: 90vw;
    max-width: 100rem;
    margin: auto;
    .metronome_body {
        background: url('../img/body.png');
        @include image_position();
        height: 30rem;
        margin-top: 60px;
        .metronome_pend {
            background: url('../img/pend.png');
            @include image_position();
            top: 9%;
            height: 57%;
            left: 50%;
            transform-origin: bottom center;
            transform: translate(-50%);
            width: 2%;
            animation: infinite linear;
            .metronome_weight {
                background: url('../img/weight.png');
                @include image_position();
                height: 11.3%;
                width: 1000%;
                left: 50%;
                top: 50px;
                transform-origin: center top;
                transform: translate(-50%);
            }
        }
        .metronome_btn {
            @include image_position();
            width: 12%;
            transform: translate(-50%);
            left: 50%;
            top: 20%;
            height: 12%;
            cursor: pointer;
        }
    }
}