@import './variables.scss';

@media (-webkit-device-pixel-ratio: 1) {
    @mixin router_btns {
        width: 1.3rem;
        height: 1.3rem;
        display: inline-block;
        margin-right: .5rem;
        transform: translate(0, 4px);
        background-position: center;
        background-size: contain;
};

.menu_router {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .router_btn {
        border: 2px solid $color-dark;
        padding: .5rem .7rem;
        border-radius: 12px;
        font-size: 1.2rem;
        cursor: pointer;
        .router_icon_set {
            background: url('../img/gear.png');
            @include router_btns;
        };
        .router_icon_list {
            background: url('../img/list.png');
            @include router_btns;
        };
    };
    .set_active {
        color: $color-bg;
        background-color: $color-dark;
        .router_icon_set {
            background: url('../img/gear-color.png');
            @include router_btns;
        };
    };
    .list_active {
        color: $color-bg;
        background-color: $color-dark;
        .router_icon_list {
            background: url('../img/list-color.png');
            @include router_btns;
        };
    };
    .metronome_active {
        color: $color-bg;
        background-color: $color-dark;
    };
};
};

@media (-webkit-device-pixel-ratio: 2) {
    @mixin router_btns {
        width: .65rem;
        height: .65rem;
        display: inline-block;
        margin-right: .25rem;
        transform: translate(0, 2px);
        background-position: center;
        background-size: contain;
    };

.menu_router {
    width: 100%;
    max-width: 225px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .router_btn {
        border: 2px solid $color-dark;
        padding: .25rem .35rem;
        border-radius: 6px;
        font-size: .6rem;
        cursor: pointer;
        .router_icon_set {
            background: url('../img/gear.png');
            @include router_btns;
        };
        .router_icon_list {
            background: url('../img/list.png');
            @include router_btns;
        };
    };
    .set_active {
        color: $color-bg;
        background-color: $color-dark;
        .router_icon_set {
            background: url('../img/gear-color.png');
            @include router_btns;
        };
    };
    .list_active {
        color: $color-bg;
        background-color: $color-dark;
        .router_icon_list {
            background: url('../img/list-color.png');
            @include router_btns;
        };
    };
    .metronome_active {
        color: $color-bg;
        background-color: $color-dark;
    };
};
}