@import './variables.scss';

.quant_container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .quant_btns{
        width: 10%;
        height: 8rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-weight: $font-bold;
        .quant_btn {
            font-size: 1.6rem;
            position: relative;
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                transform: translate(-72%, -15%);
                border: 2px solid $color-dark;
                border-radius: 50%;
            };
        };
    };
    .menu_counter {
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 8rem;
        .quant_counter {
            font-size: 3.5rem;
            margin: 0;
            width: 5.7rem;
            text-align: center;
            background-color: $color-bg;
            border: none;
            outline: none;
            display: inline;
            .quant_span {
                font-size: 1rem;
            };
        };
        .line {
            border-bottom: 2px solid $color-dark;
            width: 90%;
            margin: auto;
        };
    };
    .quant_icon_back {
        background: url('../img/back.png');
        width: 50px;
        height: 50px;
        @include image_position();
    };
    .quant_icon_confirm {
        background: url('../img/confirm.png');
        width: 50px;
        height: 50px;
        @include image_position();
    };
};